<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="cancel()">
    <i class="md-cancel">Cancel</i>
  </button>
  <button class="btn btn-primary" type="button" ng-click="back()">
    <i class="md-navigate-before">Back</i>
  </button>
  <button class="btn btn-success" type="submit">
    <i class="md-navigate-next">Save</i>
  </button>
</div>