<script type="text/ng-template" id="multipleSelectSum.html">
  <form name="multipleSelectForm" ng-submit="save()">
    <%= render 'header', title: 'Multiple Select Sum' %>
    <%= render 'option_scores' %>
    <%= render 'footer' %>
  </form>
</script>