<script type="text/ng-template" id="newScoreUnitFirstPage.html">
  <form name="newScoreUnitFormOne" ng-submit="next()">
    <div class="modal-header">
      <h3 class="modal-title text-center c-blue">Creating a new Score Unit</h3>
    </div>

    <div class="modal-body">
      <div class="row">
        <label for="score-unit-question-type" class="col-xs-3">Question Type</label>
        <select class="col-xs-5" ng-model="scoreUnit.question_type" ng-change="questionTypeChanged()"
                ng-options="questionType for questionType in scorableQuestionTypes" name="scoreUnitQuestionType"
                required></select>
        <div class="col-xs-4" ng-messages="newScoreUnitFormOne.scoreUnitQuestionType.$error">
          <div class="c-red" ng-message="required">Question type is required!</div>
        </div>
      </div>
      <div class="row">
        <label for="score-unit-min" class="col-xs-3">Minimum Score</label>
        <input type="number" name="scoreUnitMin" ng-model="scoreUnit.min" class="col-xs-5" required/>
          <div class="col-xs-4" ng-messages="newScoreUnitFormOne.scoreUnitMin.$error">
            <div class="c-red" ng-message="required">Minimum score is required!</div>
          </div>
      </div>

      <div class="row">
        <label for="score-unit-max" class="col-xs-3">Maximum Score</label>
        <input type="number" name="scoreUnitMax" ng-model="scoreUnit.max" class="col-xs-5" required/>
        <div class="col-xs-4" ng-messages="newScoreUnitFormOne.scoreUnitMax.$error">
          <div class="c-red" ng-message="required">Maximum score is required!</div>
        </div>
      </div>

      <div class="row">
        <label for="score-unit-weight" class="col-xs-3">Score Weight</label>
        <input type="number" name="scoreUnitWeight" ng-model="scoreUnit.weight" min="1" class="col-xs-5" required/>
        <div class="col-xs-4" ng-messages="newScoreUnitFormOne.scoreUnitWeight.$error">
          <div class="c-red" ng-message="required">Score weight is required!</div>
          <div class="c-red" ng-message="min">Minimum weight is 1!</div>
        </div>
      </div>

      <!--TODO validate that at least one is selected -->
      <div class="questions-modal-box">
        <h3 class="text-center c-blue">Select Questions for this Score Unit</h3>
        <div class="col-sm-6" ng-repeat="question in questions">
          <input type="checkbox" ng-model="question.checked">
            <span> {{question.question_identifier}}</span>
          </input>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">Next</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </form>
</script>

<script type="text/ng-template" id="newScoreUnitSecondPage.html" xmlns="http://www.w3.org/1999/html">
  <div class="modal-header">
    <h3 class="modal-title text-center c-blue">Creating a new Score Unit</h3>
  </div>

  <div class="modal-body">
    <div class="row">
      <label class="col-xs-8">Option Text</label>
      <label class="col-xs-4">Score if selected</label>
    </div>
    <div class="row" ng-repeat="option in scoreUnit.option_scores | orderBy: 'option_id'">
      <div class="col-xs-8 text-left">{{option.text}}</div>
      <input type="number" class="col-xs-4 text-left" ng-model="option.score" min="{{scoreUnit.min}}"
             max="{{scoreUnit.max}}" required/>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>

</script>