<div class="modal-body">
  <h4 class="row">
    <label class="col-md-6">Text</label>
    <label class="col-md-2">Score</label>
    <div class="col-md-4"></div>
  </h4>
  <div ng-repeat="(qid, optionScores) in scoreUnit.option_scores | groupBy: 'question_id'">
    <h4 class="text-left">
      {{getQuestion(qid).question_identifier}}
    </h4>
    <div class="row" ng-repeat="option in optionScores | orderBy: ['option_id', 'position']">
      <div class="col-md-6 text-left">{{option.label}}</div>
      <div class="col-md-2 form-group">
        <div class="fg-line">
          <input type="number" class="form-control" ng-model="option.value" min="{{scoreUnit.min}}" max="{{scoreUnit.max}}" name="optionScoreValue{{$index}}{{$parent.$index}}" ng-required="!option.next_question" ng-disabled="option.next_question"/>
        </div>
      </div>
      <div ng-show="scoreUnit.question_ids.length > 1 && scoreUnit.score_type == 'single_select' && option.question_id != scoreUnit.question_ids[scoreUnit.question_ids.length - 1]">
        <div class="col-md-2">
          <div class="checkbox m-b-15">
            <label>
              <input type="checkbox" name="{{option.label}}_{{option.value}}" ng-model="option.next_question" ng-change="option.value = null"/>
              <i class="input-helper"></i>Assign score in next question
            </label>
          </div>
        </div>
        <div class="col-md-2" ng-messages="singleSelectForm['optionScoreValue' + $index + $parent.$index].$error">
          <div class="c-red" ng-message="required">Score value is required!</div>
          <div class="c-red" ng-message="min">Value is below allowed minimum!</div>
          <div class="c-red" ng-message="max">Value is above allowed maximum!</div>
        </div>
      </div>
      <div ng-hide="scoreUnit.question_ids.length > 1 && scoreUnit.score_type == 'single_select'">
        <div class="col-md-4" ng-messages="singleSelectForm['optionScoreValue' + $index + $parent.$index].$error">
          <div class="c-red" ng-message="required">Score value is required!</div>
          <div class="c-red" ng-message="min">Value is below allowed minimum!</div>
          <div class="c-red" ng-message="max">Value is above allowed maximum!</div>
        </div>
      </div>
    </div>
  </div>
</div>