<div class="modal-body">
  <div class="row">
    <label class="col-md-6">Text</label>
    <label class="col-md-2">Score</label>
    <div class="col-md-4"></div>
  </div>
  <div class="row" ng-repeat="option in scoreUnit.option_scores | orderBy: 'option_id'">
    <div class="col-md-6 text-left">{{option.label}}</div>
    <div class="col-md-2 form-group">
      <div class="fg-line">
        <input type="number" class="form-control" ng-model="option.value" min="{{scoreUnit.min}}" max="{{scoreUnit.max}}" name="optionScoreValue{{$index}}" required/>
      </div>
    </div>
    <div class="col-md-4" ng-messages="singleSelectForm['optionScoreValue' + $index].$error">
      <div class="c-red" ng-message="required">Score value is required!</div>
      <div class="c-red" ng-message="min">Value is below allowed minimum!</div>
      <div class="c-red" ng-message="max">Value is above allowed maximum!</div>
    </div>
  </div>
</div>