<script type="text/ng-template" id="scoreUnit.html">
  <form name="newScoreUnitForm" ng-submit="next()">
    <div class="modal-header">
      <h3 class="modal-title text-center c-blue">Score Unit</h3>
    </div>

    <div class="modal-body">
      <div class="row">
        <label for="score-unit-question-type" class="col-xs-3">Question Type</label>
        <select class="col-xs-5" ng-model="scoreUnit.question_type" ng-change="questionTypeChanged()" ng-options="questionType for questionType in scorableQuestionTypes" name="scoreUnitQuestionType" required></select>
        <!--TODO ensure required validation works -->
        <div class="col-xs-4" ng-messages="newScoreUnitForm.scoreUnitQuestionType.$error">
          <div class="c-red" ng-message="required">Question type is required!</div>
        </div>
      </div>

      <div class="row">
        <label for="score-unit-score-type" class="col-xs-3">Score Type</label>
        <select class="col-xs-5" ng-model="scoreUnit.score_type" ng-options="scoreType.key as scoreType.key for scoreType in scoreTypes" name="scoreUnitScoreType" required></select>
        <div class="col-xs-4" ng-messages="newScoreUnitForm.scoreUnitScoreType.$error">
          <div class="c-red" ng-message="required">Score type is required!</div>
        </div>
      </div>

      <div class="row">
        <label for="score-unit-min" class="col-xs-3">Minimum Score</label>
        <input type="number" name="scoreUnitMin" ng-model="scoreUnit.min" class="col-xs-5" required/>
        <div class="col-xs-4" ng-messages="newScoreUnitForm.scoreUnitMin.$error">
          <div class="c-red" ng-message="required">Minimum score is required!</div>
        </div>
      </div>

      <div class="row">
        <label for="score-unit-max" class="col-xs-3">Maximum Score</label>
        <input type="number" name="scoreUnitMax" ng-model="scoreUnit.max" class="col-xs-5" required/>
        <div class="col-xs-4" ng-messages="newScoreUnitForm.scoreUnitMax.$error">
          <div class="c-red" ng-message="required">Maximum score is required!</div>
        </div>
      </div>

      <div class="row">
        <label for="score-unit-weight" class="col-xs-3">Score Weight</label>
        <input type="number" name="scoreUnitWeight" ng-model="scoreUnit.weight" min="1" class="col-xs-5" required/>
        <div class="col-xs-4" ng-messages="newScoreUnitForm.scoreUnitWeight.$error">
          <div class="c-red" ng-message="required">Score weight is required!</div>
          <div class="c-red" ng-message="min">Minimum weight is 1!</div>
        </div>
      </div>

      <div class="questions-modal-box">
        <h4 class="text-center c-blue">Select question(s) for this score unit</h3>
        <div class="col-sm-6" ng-repeat="question in questions">
          <input type="checkbox" checklist-model="scoreUnit.question_ids" checklist-value="question.id" name="scoreUnitQuestions">
            <span>
              {{question.question_identifier}}</span>
          </input>
        </div>
        <!--TODO ensure required validation works -->
        <div ng-messages="newScoreUnitForm.scoreUnitQuestions.$error">
          <div class="c-red" ng-show="!someQuestionSelected()">
            Select at least one question
          </div>
        </div>
      </div>

      <div class="row" ng-show="scoreUnit.score_type == 'simple_search'">
        <h4 class="text-center c-blue">Phrase(s) to search for in response</h4>
        <div ng-repeat="(option_label, options) in scoreUnit.option_scores | groupBy: 'label'">
          <div ng-repeat="option in options">
            <div class="row" ng-show="$index == 0">
              <div class="col-md-10">
                <input ng-model="option.label" ng-change="searchTermChanged(options, option.label)"/>
              </div>
              <div class="col-md-2">
                <button type="button" class="btn btn-danger" ng-click="deleteSearchTerm(options)">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <input type="text" ng-init="searchTerm.label = ''" ng-model="searchTerm.label"/>
          </div>
          <div class="col-md-2 ">
            <button type="button" class="btn btn-primary" data-ng-click="add(searchTerm)">Add</button>
          </div>
          <div class="col-md-6">
            Use a , to separate phrases that have similar meaning e.g. ok, yes, yeah
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-warning" type="button" ng-click="cancel()">
        <i class="md-cancel">Cancel</i>
      </button>
      <button class="btn btn-success" type="submit">
        <i class="md-navigate-next">Next</i>
      </button>
    </div>
  </form>
</script>