<script type="text/ng-template" id="singleSelect.html">
  <form name="singleSelectForm" ng-submit="save()">
    <%= render 'header', title: 'Single Select' %>
    <%= render 'option_scores' %>
    <%= render 'footer' %>
  </form>
</script>