<div class="block-header text-center text-capitalize">
  <h2>
    <i class="md-edit c-indigo">
      Scoring Schemes
    </i>
  </h2>
</div>

<div class="card" ng-controller="ScoreSchemesCtrl" ng-init="initialize(<%= current_project.id %>)">

  <div class="card-header">
    <button ng-click="newScheme()" class="btn btn-primary pull-right" ng-show="showIndex">
      <i class="md-add">New Scoring Scheme</i>
    </button>
  </div>

  <div class="card-body card-padding text-capitalize" ng-show="showIndex">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Scheme Title</th>
            <th>Instrument</th>
            <th>Created at</th>
            <th>Last updated</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="scheme in score_schemes">
            <td>
              <a href="/projects/<%= current_project.id %>/score_schemes/{{scheme.id}}">{{scheme.title}}</a>
            </td>
            <td>{{scheme.instrument_id}}</td>
            <td>{{scheme.created_at | date:'short'}}</td>
            <td>{{scheme.updated_at | date:'short'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <%= render 'new' %>

</div>