<section>
  <div class="block-header text-center text-uppercase">
    <h2><i class="md-people c-indigo"> Device Users </i></h2>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @device_users.each do |device_user| %>
          <tr>
            <td><%= device_user.name %></td>
            <td><%= device_user.username %></td>
            <td><%= link_to 'Edit', edit_project_device_user_path(current_project, device_user) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="clearfix"></div>

  <%= link_to new_project_device_user_path(current_project), class: 'btn btn-primary' do %>
      <i class="md-person-add"> Add Device User</i>
  <% end %>
</section>
