<h3 class="block-header">
  <i class="md-unfold-more c-indigo">
    Reorder Questions
  </i>
</h3>

<div class="card">
  <div class="card-body card-padding">
    <p>
      Each line represents one question with the format being
      <strong>question identifier</strong>,
      <strong>original question number</strong>, and the beginning part of the
      <strong>question text</strong>.
    </p>
    <p>
      To reorder questions, cut the entire line and paste it in the desired line number (use the numbers on the left)
    </p>
    <p>
      To delete a question, delete its entire line
    </p>
    <p>
      <strong class="color-block bgm-red">N/B</strong>
      Modifying the question identifier will lead to the question getting deleted!
    </p>
    <%= form_tag(reorder_project_instrument_reorder_questions_path(@instrument.project.id, @instrument.id), method: :post) do %>
    <%= text_area_tag(:reorder, @instrument.reorder_display_text, style: "height: #{@instrument.questions.size + 10}em; width: 100%;", id: 'mass-reorder') %>
    <div class="row m-t-5">
      <%= submit_tag 'Save', class: 'pull-right btn btn-success', confirm: 'Are you sure? Questions whose question identifiers you removed will be deleted and the rest will be renumbered.'%>
    </div>
    <% end %>
  </div>
</div>

<script>
  $(function () {
    $("#mass-reorder").linedtextarea();
  });
</script>