<h4 class="text-center"><strong>Translation Languages</strong></h4>
<div class="card">
  <div class="card-body card-padding">
    <div ng-controller="LanguageTranslationsCtrl">
      <div class="row" ng-repeat="language in languages">
        <a ui-sref="languageOptionTranslation({language: language[1],
          option_set_id: option_set_id})">
          {{language[0]}}
        </a>
      </div>
    </div>
  </div>
</div>
