<h4 class="text-center"><strong>Translation Languages</strong></h4>
<div class="card">
  <div class="card-body card-padding">
    <div ng-controller="LanguageTranslationsCtrl">
      <div class="row" ng-repeat="language in languages">
        <a href="/option_translations/{{language[1]}}">{{language[0]}}</a>
      </div>
    </div>
  </div>
</div>
