<div class="card">
  <div class="card-body card-padding">
    <h6><a ui-sref="projects()">Projects</a></h6>
    <h6><a ui-sref="questionSets()">Question Sets</a></h6>
    <h6><a ui-sref="optionSets()">Option Sets</a></h6>
    <h6><a ui-sref="instructions()">Instructions</a></h6>
    <h6><a ui-sref="validations()">Validations</a></h6>
    <h6><a ui-sref="options()">Options</a></h6>
    <h6><a ui-sref="rules()">Rules</a></h6>
  </div>
</div>