<div class="card text-capitalize" ng-controller="ProjectsCtrl">
  <div ng-show="showInstruments">
    <div class="m-1">
      <div class="btn btn-primary" ng-click="newInstrument()">New Instrument</div>
      <a ui-sref="importInstrument({id: project.id})"
      class="btn btn-primary">Instruments2 Import</a>
      <a ui-sref="resourceImport({id: project.id})"
      class="btn btn-primary">Version 1 Import</a>
    </div>
    <div class="m-1">
      <input type="search" ng-model="i.title" placeholder="Filter instruments..."
      class="form-control tm-search text-center" />
    </div>
    <h4 class="row m-1">
      <div class="col-md">Title</div>
      <div class="col-md">Project</div>
      <div class="col-md">Published</div>
      <div class="col-md">Version</div>
      <div class="col-md">Question Count</div>
      <div class="col-md">Actions</div>
    </h4>
    <div ng-repeat="project in projects">
      <div class="row m-1" ng-repeat="instrument in project.instruments | filter:i">
        <div class="col-md">
          <a ui-sref='displays({project_id: project.id, instrument_id: instrument.id})'>
            {{instrument.title}}</a>
          </div>
          <div class="col-md">{{project.name}}</div>
          <div class="col-md">{{instrument.published}}</div>
          <div class="col-md">{{instrument.current_version_number}}</div>
          <div class="col-md">{{instrument.question_count}}</div>
          <div class="col-md">
            <button class="btn btn-primary oi oi-pencil" ng-click="editInstrument(instrument)"/>
            <button class="btn btn-danger oi oi-trash" ng-click="deleteInstrument(instrument)"/>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="showNewInstrument" ng-controller="NewInstrumentCtrl">
      <h4 class="text-center">Create Instrument</h4>
      <div ng-include="'projects/instrument.html'"></div>
    </div>
    <div ng-show="showEditInstrument" ng-controller="EditInstrumentCtrl">
      <h4 class="text-center">Edit Instrument</h4>
      <div ng-include="'projects/instrument.html'"></div>
    </div>
  </div>
