<h4 class="text-center"><strong>Option Sets</strong></h4>
<div class="card">
  <div class="card-header">
    <a class="btn" href="{{baseUrl}}/option_translations">Option Translations</a>
  </div>
  <div class="card-body card-padding">
    <div ng-controller="OptionSetsCtrl">
      <div ng-repeat="optionSet in optionSets">
        <div class="row m-5">
          <a class="col-md-10" href="{{baseUrl}}/option_sets/{{optionSet.id}}">
            <strong>{{optionSet.title}}</strong>
          </a>
          <div class="col-md-2">
            <div class="btn btn-danger" ng-click="deleteOptionSet(optionSet)">Delete</div>
          </div>
        </div>
      </div>
      <div ng-hide="showNewOptionSet" class="btn btn-primary m-5"
        ng-click="createOptionSet()">New Option Set</div>
      <ng-form name="newOptionSetEditorForm" ng-show="showNewOptionSet">
        <div class="row">
          <label class="col-md-2">Title</label>
          <div class="col-md-8">
            <input type="text" class="form-control" name="new-option-set"
            ng-model="newOptionSet.title" required>
          </div>
          <div class="col-md-1">
            <div class="btn btn-default" ng-click="cancelNewOptionSet()">Cancel</div>
          </div>
          <div class="col-md-1">
            <div class="btn btn-success" ng-disabled="newOptionSetEditorForm.$invalid"
            ng-click="saveOptionSet()">Save</div>
          </div>
        </div>
      </ng-form>
    </div>
  </div>
</div>
