<h4 class="text-center"><strong>{{optionSet.title}}</strong></h4>
<div class="card">
  <div class="card-body card-padding">
    <ng-form name="optionSetEditorForm">
      <div class="row">
        <label class="col-md-1">Title</label>
        <div class="col-md-9">
          <input type="text" class="form-control" name="option-set" ng-model="optionSet.title" required>
        </div>
        <div class="col-md-1 btn btn-danger" ng-click="deleteOptionSet()">Delete</div>
        <div class="col-md-1 btn btn-success" ng-disabled="optionSetEditorForm.$invalid"
        ng-click="updateOptionSet()">Save</div>
      </div>
      <div ng-include='"options/index.html"'></div>
    </ng-form>
  </div>
</div>
