<div class="card">
  <div class="card-body card-padding">
    <div class="form-group">
      <div class="row">
        <label for="grid-question-type" class="col-sm-2 control-label">Table Question Type:
        </label>
        <div class="col-sm-10">
          <select
            allow-single-deselect="true"
            data-placeholder="Select a question type..."
            no-results-text="'This does not match a valid question type'"
            name="question-type"
            ng-model="grid.question_type"
            ng-options="question_type as question_type for question_type in gridQuestionTypes"></select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <label for="grid-name" class="col-sm-2 control-label">Table Name:
        </label>
        <div class="col-sm-10">
          <div class="fg-line">
            <input type="text" class="form-control input-sm" name="name" ng-model="grid.name">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <label for="grid-instructions" class="col-sm-2 control-label">Instructions:
        </label>
        <div class="col-sm-10">
          <textarea type="text" class="form-control" name=" instructions" ng-model=" grid.instructions"></textarea>
        </div>
      </div>
    </div>
    <fieldset ng-controller="GridLabelsCtrl" ng-init="init(<%= @project.id %>, <%= @instrument.id %>, grid.id)">
      <legend class="section">Table Option Labels
        <button type="submit" ng-click="addGridLabel()" class="btn btn-primary pull-right m-b-10">
          <i class="md-add">Option Label</i>
        </button>
      </legend>
      <div class="controls form-group">
        <div ng-repeat="grid_label in grid_labels">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="grid_label.label" autofocus="autofocus">
            <div class="input-group-btn">
              <button ng-click="removeGridLabel(grid_label)" class="btn btn-danger">
                <i class="md-delete"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="row">
      <button class="btn btn-success pull-right" type="submit" ng-click="saveGrid(grid)">
        <i class="md-save">
          Save Table
        </i>
      </button>
    </div>
  </div>
</div>