<div class="block-header text-center text-uppercase">
  <h2><i class="md-devices c-indigo"> Devices </i></h2>
</div>

<div class="card">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Device</th>
        <th>Uptodate?</th>
      </tr>
      </thead>
      <tbody>
      <% @devices.each do |device| %>
          <% if device.uptodate? %>
              <tr class="success">
                <td><%= link_to device.label, project_device_path(current_project, device) %></td>
                <td>YES</td>
              </tr>
          <% else %>
              <tr class="danger">
                <td><%= link_to device.label, project_device_path(current_project, device) %></td>
                <td>NO</td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>