<div class="block-header text-center text-uppercase">
  <h2><i class="md-devices c-indigo"> Devices </i></h2>
</div>

<div class="card">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Device</th>
      </tr>
      </thead>
      <tbody>
      <% @devices.each do |device_label, devices_array| %>
          <tr class=<%= devices_array.first.uptodate?(current_project) ? 'success' : 'danger' %>>
            <td>
              <%= link_to (devices_array.first.label.blank? ? devices_array.first.identifier : devices_array.first
                  .label), project_device_path(current_project, devices_array.first) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>