<div class="text-center"><strong class="text-center">Option Sets</strong></div>
<div ng-controller="OptionSetsCtrl">
  <div ng-repeat="option_set in optionSets">
    <a class="m-5" ng-click="viewOptionSet(option_set)">{{option_set.title}}</a>
    <div ng-show="currentOptionSet == option_set">
      <%= render 'option_sets/show' %>
    </div>
  </div>
  <div class="btn btn-primary pull-right m-5" ng-click="newOptionSet()">New Option Set</div>
</div>
