<ng-form class="card" name="optionSetEditorForm">
  <div class="card-body card-padding">
    <div class="row">
      <label class="col-md-2">Title</label>
      <div class="col-md-7">
        <input type="text" class="form-control" name="option-set" ng-model="option_set.title" required>
      </div>
      <div class="col-md-1 btn btn-default" ng-click="editOptionSet(null)"><i class="md-cancel"></i></div>
      <div class="col-md-1 btn btn-danger" ng-click=""><i class="md-delete"></i></div>
      <div class="col-md-1 btn btn-success" ng-disabled="optionSetEditorForm.$invalid"
      ng-click="saveOptionSet()"><i class="md-save"></i></div>
    </div>
    <%= render 'options/index' %>
  </div>
</ng-form>
