<h4 class="text-center">{{validation.title}}</h4>
<div class="m-1">
  <a class="btn btn-primary" ui-sref="validationTranslations({validation_id: validation.id})">Translations</a>
</div>
<div class="card">
  <div class="card-body card-padding">
    <ng-form class="card" name="validationEditorForm" ng-controller="ShowValidationCtrl">
      <div class="card-body card-padding">
        <div class="row m-1 form-group">
          <label class="col-md-3">Title</label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="validation-title"
            ng-model="validation.title" required>
          </div>
        </div>
        <div class="row m-1 form-group">
          <label class="col-md-3">Type</label>
          <div class="col-md-9">
            <select class="form-control" name="validation-type" id="validation-type"
                    ng-model="validation.validation_type" ng-options="type for type in validationTypes" required>
            </select>
          </div>
        </div>
        <div class="row m-1 form-group" ng-if="validation.validation_type=='REGEX'">
          <label class="col-md-3">Validation Text (regex)</label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="validation-text-regex" ng-model="validation.validation_text"
                   required>
          </div>
        </div>
        <div class="row m-1 form-group" ng-if="validation.validation_type=='SUM_OF_PARTS'">
          <label class="col-md-3">Validation Text (total sum of response parts)</label>
          <div class="col-md-9">
            <input type="number" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" class="form-control"
                   name="validation-text-sum" ng-model="validation.validation_text" required>
          </div>
        </div>
        <div ng-if="validation.validation_type=='RESPONSE'">
          <div class="row m-1 form-group">
            <label class="col-md-3">Response Validator</label>
            <div class="col-md-9">
              <select class="form-control" name="validation-text-response" id="validation-text-response"
                      ng-model="validation.validation_text" ng-options="identifier for identifier in questionIdentifiers"
                      required>
              </select>
            </div>
          </div>
          <div class="form-group row m-1">
            <label class="col-md-3">Relational Operator</label>
            <div class="col-md-9">
              <select class="form-control" name="relational-operator" id="relational-operator"
                      ng-model="validation.relational_operator" ng-options="operator for operator in relationalOperators"
                      required>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group row m-1">
          <label class="col-md-3">Validation Message</label>
          <div class="col-md-9">
            <text-angular ta-toolbar="toolBar" class="form-control" name="validation-message"
                          ng-model="validation.validation_message">
            </text-angular>
          </div>
        </div>
        <div class="m-1">
          <div class="btn btn-success pull-right" ng-disabled="validationEditorForm.$invalid"
          ng-click="updateValidation()">Save</div>
        </div>
      </div>
    </ng-form>
  </div>
</div>

<h4 class="text-center">Questions containing this validation</h4>
<div class="card">
  <div class="row ml-4 m-1" ng-repeat="question in validation.questions">
    <a ui-sref="questionSetQuestion({question_set_id: question.question_set_id, id: question.id})">
      {{question.question_identifier}}</a>
  </div>
</div>
