<h4 class="text-center"><strong>Translations for {{language}}</strong></h4>
<div class="card">
  <div class="card-body card-padding">
    <div ng-controller="InstructionTranslationsCtrl">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="col-md-6">Instruction Text</th>
            <th class="col-md-6">Translation</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="instruction in instructions">
            <td>{{instruction.text}}</td>
            <td>
              <textarea
              class="form-control"
              name="instruction-translation-{{instruction.id}}"
              ng-model="translation_for(instruction).text">
            </textarea>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="btn btn-success" ng-click="save()">Save</div>
    </div>
  </div>
</div>
