<section>
  <div class="block-header text-center text-capitalize">
    <h2><i class="md-notifications-on c-indigo"> notifications </i></h2>
  </div>
  <div class="card col-sm-6">
    <div class="card-header"><h2> Unsynced Devices</h2></div>
    <div class="card-body card-padding">
      <table class="table table-hover">
        <tbody>
        <% if @dangerous_devices.empty? %>
            <tr>
              <td>No notifications.</td>
            </tr>
        <% else %>
            <% @dangerous_devices.each do |device| %>
                <% if device.last_project_survey(current_project) %>
                    <tr>
                      <td><%= %Q[#{device.label.blank? ? device.identifier : device.label} has not sent a survey in
                    #{time_ago_in_words(device.last_project_survey(current_project).updated_at)}] %></td>
                    </tr>
                <% end %>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card col-sm-6">
    <div class="card-header"><h2>Critical Responses Surveys</h2></div>
    <div class="card-body card-padding">
      <table class="table table-hover">
        <tbody>
        <% @critical_surveys.each do |survey| %>
            <tr>
              <td>Survey <%= link_to survey.uuid, project_survey_path(current_project, survey) %> has critical responses</td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

</section>
