<div class="block-header text-center text-capitalize">
  <%= @image.picture_file_name %>
</div>
<div class="card">
  <div class="card-body card-padding">
    <%= image_tag @image.picture.url %>
  </div>
</div>
