<ng-form class="card" name="questionSetEditorForm">
  <div class="card-body card-padding">
    <div class="row">
      <label class="col-md-1">Title</label>
      <div class="col-md-8">
        <input type="text" class="form-control" name="question-set" ng-model="question_set.title" required>
      </div>
      <div class="col-md-1 btn btn-default" ng-click="editQuestionSet(null)"><i class="md-cancel"></i></div>
      <div class="col-md-1 btn btn-danger" ng-click=""><i class="md-delete"></i></div>
      <div class="col-md-1 btn btn-success" ng-disabled="questionSetEditorForm.$invalid"
      ng-click="saveQuestionSet()"><i class="md-save"></i></div>
    </div>
    <%= render 'questions/index' %>
  </div>
</ng-form>
