<div class="block-header text-center text-capitalize">
  <h2><i class="md-folder-shared c-indigo"> Details for export # <%= @export.id %></i></h2>
</div>
<table class="table table-stripedt">
  <tbody>
  <% for attribute in @export.attributes.keys %>
      <tr>
        <td><b><%= attribute.humanize %></b></td>
        <td><%= @export.attributes[attribute].to_s %></td>
      </tr>
  <% end %>
  </tbody>
</table>