<div class="card">
  <div class="card-header">
    <h2 class="text-center">
      <strong>Privacy Statement</strong>
    </h2>
  </div>
  <h4 class="m-l-20 m-r-20">Usage</h4>
  <div class="card-body m-l-20 m-r-20">
    <p>
      iSEE is a survey administration app that can either be used by an interviewer to administer surveys to participants in a study or that can be used directly by participants in a study to take surveys on their Android devices.
    </p>
  </div>
  <h4 class="m-l-20 m-r-20">User Consent</h4>
  <div class="card-body m-l-20 m-r-20">
    <p>
      Before participating in a study administered through the app, participants will be required to go through a consent process that has been approved by the Institutional Review Board (IRB) of the institution administering the study. This can either be
      in the form a physical consent form that participants have to read and sign in the case of interviewer-administered interviews, or in the case of participants directly taking surveys on the app, a digital consent form.
    </p>
  </div>
  <h4 class="m-l-20 m-r-20">Security</h4>
  <div class="card-body m-l-20 m-r-20">
    <p>
      Responses to survey questions collected by the app are transmitted over HTTPS to a secured server that only the administrators of the study have access to. In the case of interviewer-administered surveys, whole-disk encryption and password protection
      is required on the Android devices used by the interviewers to administer the surveys.
    </p>
  </div>
  <h4 class="m-l-20 m-r-20">Privacy</h4>
  <div class="card-body m-l-20 m-r-20">
    <p>
      Any identifiable information collected through the app will be de-identified by the study administrators before being shared with any third-parties. Any sharing of such information will be detailed in the User Consent formed signed before taking any
      surveys on the app. Some surveys require the collection of GPS co-ordinates, or the use of the camera to take pictures as part of the survey. This is identifiable information whose usage will also be detailed in the User Consent form. In case you
      want to participate in a study but do not want to allow the app access to the camera or location services, you can disable these permissions in your device's Settings app.
    </p>
  </div>
</div>