<div ng-controller="OptionsCtrl">
  <h4 class="text-center"><strong>Options</strong></h4>
  <div class="row m-5">
    <a class="btn btn-primary" ui-sref="optionSets">Option Sets</a>
    <div class="pull-right btn btn-primary" ng-click="newOption()">Add Option</div>
  </div>
  <div class="card">
    <div class="card-body card-padding">
      <input type="search" ng-model="option" placeholder="Filter options ..."
      class="form-control tm-search">
      <div class="row">
        <label class="col-md-4">Identifier</label>
        <label class="col-md-6">Text</label>
        <label class="col-md-2">Actions</label>
      </div>
      <div ng-repeat="option in options | filter: option | orderBy:'updated_at':true">
        <div class="row">
          <label class="col-md-4">
            <input type="text" class="form-control" ng-model="option.identifier" required>
          </label>
          <div class="col-md-6">
            <textarea class="form-control" ng-model="option.text" ng-required="true"></textarea>
          </div>
          <div class="col-md-2">
            <div class="btn btn-success" ng-click="updateOption(option)">Save</div>
            <div class="btn btn-danger" ng-click="deleteOption(option)">Delete</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
