<ng-form class="card" name="optionEditorForm">
  <div class="card-body card-padding">
    <div class="row">
      <label class="col-md-2">Identifier</label>
      <div class="col-md-10">
        <input
        class="form-control"
        name="option-identifier"
        ng-model="option.identifier"
        required>
      </input>
    </div>
  </div>
  <div class="row m-t-5">
    <label class="col-md-2">Text</label>
    <div class="col-md-10">
      <textarea
      class="form-control"
      name="option-text"
      ng-model="option.text"
      ng-required="true">
    </textarea>
  </div>
</div>
<div class="row m-5">
  <div class="btn btn-default pull-left" ng-click="editOption(null)">Cancel</div>
  <div class="btn btn-success pull-right" ng-disabled="optionEditorForm.$invalid"
  ng-click="saveOption(option)">Save</div>
</div>
</ng-form>
