<div ng-controller="QuestionSetsCtrl">
<h4 class="text-center"><strong>Question Sets</strong></h4>
<div class="m-1">
  <a class="btn btn-primary" ui-sref="questionTranslations()">Translations</a>
  <div ng-hide="showNewQuestionSet" class="btn btn-primary pull-right"
  ng-click="createQuestionSet()">New Question Set</div>
</div>
<div class="card">
    <div ng-hide="showNewQuestionSet">
      <input type="search" ng-model="qs.title" placeholder="Filter question sets ..."
      class="form-control tm-search text-center">
      <div ng-repeat="questionSet in questionSets | filter:qs">
        <div class="row m-1">
          <a class="col-md-10" ui-sref="questionSet({id: questionSet.id})">
            <strong>{{questionSet.title}}</strong>
          </a>
          <div class="col-md-2">
            <div class="btn btn-danger" ng-click="deleteQuestionSet(questionSet)">Delete</div>
          </div>
        </div>
      </div>
    </div>
      <ng-form class="row m-1" name="newQuestionSetForm" ng-show="showNewQuestionSet">
          <label class="col-md-2">Title</label>
          <div class="col-md-8">
            <input type="text" class="form-control" name="new-question-set"
            ng-model="newQuestionSet.title" required>
          </div>
          <div class="col-md-1">
            <div class="btn btn-secondary" ng-click="cancelNewQuestionSet()">Cancel</div>
          </div>
         <div class="col-md-1">
           <div class="btn btn-success" ng-disabled="newQuestionSetForm.$invalid"
            ng-click="saveQuestionSet()">Save</div>
         </div>
      </ng-form>
  </div>
</div>
