<%= render partial: '/instruments/instrument_header', locals: {subtitle: 'randomized factors'} %>

<div class="card">
  <div ng-controller="RandomizedFactorsCtrl" ng-init="init(<%= current_project.id %>, <%= @instrument.id %>)">
    <div class="card-body card-padding">
      <div ng-repeat="randomizedFactor in randomizedFactors">
        <div class="m-10">
          <a class="btn btn-primary" ng-click="editFactor(randomizedFactor)">
            <i class="md-expand-more">{{randomizedFactor.title}}</i>
          </a>
          <button ng-click="removeFactor(randomizedFactor)" class="btn btn-danger">
            <i class="md-delete"></i>
          </button>
          <div ng-show="editingFactor == randomizedFactor">
            <div class="row">
              <div class="col-md-4">
                <div class="row m-5">
                  <legend class="text-center">
                    <strong>Title</strong>
                  </legend>
                  <div class="fg-line form-group">
                    <input type="text" class="form-control" name="title" ng-model="randomizedFactor.title" required>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div ng-controller="RandomizedOptionsCtrl">
                  <legend class="text-center">
                    <strong>Randomized Factor Options</strong>
                    <button type="submit" ng-click="addRandomizedOption()" class="btn btn-xs btn-primary pull-right">
                      <i class="md-add">Add Randomized Option</i>
                    </button>
                  </legend>
                  <div ng-repeat="randomizedOption in randomizedOptions">
                    <div class="input-group m-10">
                      <input type="text" class="fg-line form-control" ng-model="randomizedOption.text" autofocus="autofocus">
                      <div class="input-group-btn m-10">
                        <button ng-click="removeOption(randomizedOption)" class="btn btn-danger">
                          <i class="md-delete"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-actions m-10">
              <a class="btn btn-success" ng-click="saveFactor(randomizedFactor)">Save</a>
              <a class="btn btn-danger" ng-click="cancelFactor()">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-10">
      <button class="btn btn-success pull-right" ng-click="addRandomizedFactor()">
        <i class="md-grid-on">
          New Randomized Factor
        </i>
      </button>
    </div>
  </div>
</div>