<div class="card text-capitalize">
  <div class="card-body table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Project Description</th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project %></td>
          <td><%= project.description %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<h4 class="text-center">Sets</h4>
<div class="card card-body card-padding">
  <div class="row">
    <div class="col-md-6">
      <%= render 'question_sets/index' %>
    </div>
    <div class="col-md-6">
      <%= render 'option_sets/index' %>
    </div>
  </div>
</div>
