<div class="card">
  <div class="card-header">
    <%= link_to edit_project_path(@project), class: 'btn btn-primary pull-right' do %>
    <i class="md-edit">
      Edit Project
    </i>
    <% end %>
  </div>

  <div class="card-body card-padding">
    <%= @project.description %>
  </div>
</div>

<%= render 'instruments/index' %>