<div class="block-header">
  <h2><i class="md-folder-shared"></i> <%= current_project.name %></h2>
</div>

<div class="card">
  <div class="card-header">
    <%= link_to edit_project_path(@project), class: 'btn btn-primary pull-right' do %>
        <i class="md-edit"></i> Edit Project
    <% end %>
  </div>

  <div class="card-body">
    <strong>Description:</strong> <br/>

    <p> <%= @project.description %> </p>
  </div>

</div>

<%= render 'instruments/index' %>
