<h4 class="text-center"><strong>Instrument Rules</strong></h4>
<div ng-controller="InstrumentRulesCtrl">
  <div class="card">
    <div class="card-body card-padding">
      <div ng-repeat="rule in instrumentRules">
        <div class="row m-5">
          <span class="col-md-4">
            <strong>{{rule.rule_type}}</strong>
          </span>
          <span class="col-md-4">{{rule.rule_params}}</span>
          <div class="col-md-2">
            <div class="btn btn-danger" ng-click="deleteInstrumentRule(rule)">Delete</div>
          </div>
        </div>
      </div>
      <div ng-hide="showNewRule" class="m-10">
        <button class="btn btn-primary" ng-click="addInstrumentRule()">Add Rule</button>
      </div>

      <div ng-show="showNewRule">
        <ng-form name="InstrumentRuleForm">
          <div class="row m-5">
            <label class="col-md-3">Rule</label>
            <div class="col-md-9">
              <select
                class="form-control"
                id="rule-id"
                ng-model="newRule.rule_id"
                ng-options="rule.id as rule.rule_type for rule in rules"
                required>
                <option value=""><option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="pull-right m-5">
              <div class="btn btn-default" ng-click="cancelInstrumentRule()">Cancel</div>
            </div>
            <div class="pull-right m-5">
              <div class="btn btn-success" ng-disabled="InstrumentRuleForm.$invalid" ng-click="saveInstrumentRule()">
                Save
              </div>
            </div>
          </div>
        </ng-form>
      </div>
    </div>
  </div>
</div>
