<div ng-include="'instrument_questions/show.html'"></div>
<div class="card" ng-controller="ConditionSkipsCtrl">
  <div class="m-1">
    <h4 class="text-center">Condition Skips</h4>
    <div class="text-muted m-1">
      <b>Condition Question</b> - This is the question whose response is considered in creating this skip
    </div>
    <div class="text-muted m-1">
      <b>Condition Option</b> - This is one of the response options from the condition question
    </div>
    <div class="text-muted m-1">
      <b>Condition</b> - This determines whether the response to the condition question is sufficient
      in creating the skip or whether to also consider the response of the current question
    </div>
    <div class="text-muted m-1">
      <b>Option Identifier</b> - This is one of the responses choices from the current questions
    </div>
    <div class="text-muted m-1">
      <b>Skip To Question</b> - This is the question to skip to if all the conditions are fullfilled
    </div>
  </div>
  <div class="card-body" ng-hide="instrumentQuestion.number_in_instrument == 1">
    <div class="row m-1">
      <label class="col-md-2"><u>Condition Question</u></label>
      <label class="col-md-2"><u>Condition Option</u></label>
      <label class="col-md-2"><u>Condition</u></label>
      <label class="col-md-2"><u>Option</u></label>
      <label class="col-md-2"><u>Skip To Question</u></label>
      <label class="col-md-2"><u>Actions</u></label>
    </div>
    <div class="row m-1" ng-repeat="conditionSkip in conditionSkips">
      <div class="col-md-2">
        <select
          class="form-control"
          ng-init="conditionOptions(instrumentQuestion, conditionSkip)"
          ng-change="conditionOptions(instrumentQuestion, conditionSkip)"
          ng-model="conditionSkip.condition_question_identifier"
          ng-options="q.identifier as q.identifier for q in conditionQuestions(instrumentQuestion)">
          <option value=""></option>
        </select>
      </div>
      <div class="col-md-2" ng-show="conditionSkip.condition_question_identifier">
        <select
          class="form-control"
          ng-model="conditionSkip.condition_option_identifier"
          ng-options="o.identifier as o.identifier for o in conditionQuestionOptions">
          <option value=""></option>
        </select>
      </div>
      <div class="col-md-2">
        <select
          class="form-control"
          ng-model="conditionSkip.condition"
          ng-options="skipCondition for skipCondition in skipConditions">
          <option value=""></option>
        </select>
      </div>
      <div class="col-md-2" ng-show="isAndCondition(conditionSkip)">
        <select
          class="form-control"
          ng-model="conditionSkip.option_identifier"
          ng-options="o.identifier as o.text for o in options">
          <option value=""></option>
        </select>
      </div>
      <div class="col-md-2">
        <select
          class="form-control"
          ng-model="conditionSkip.next_question_identifier"
          ng-options="q.identifier as q.identifier for q in questionsAfter(instrumentQuestion)">
          <option value=""></option>
        </select>
      </div>
      <div class="col-md-2">
        <div class="btn btn-success" ng-click="saveConditionSkip(conditionSkip)">Save</div>
        <div class="btn btn-danger" ng-click="deleteConditionSkip(conditionSkip)">Delete</div>
      </div>
    </div>
    <div class="m-1">
      <div class="btn btn-primary float-right" ng-click="addConditionSkip()">Add Condition Skip</div>
    </div>
  </div>
</div>
