<div ng-include="'instrument_questions/header.html'"></div>
  <div class="card" ng-controller="MultipleSkipsCtrl">
    <div class="m-1">
      <h4 class="text-center">Multiple Skip Patterns</h4>
      <li class="text-muted">
        If several non-consecutive questions following this question should be skipped based
        on the option selected, enter those questions below for each option that causes the skips.
      </li>
    </div>
    <div class="card-body card-padding">
      <div ng-show="showSkips">
        <h5 class="m-1 row">
          <label class="col-md-5"><u>Chosen Option</u></label>
          <label class="col-md-5"><u>Question To Skip</u></label>
          <label class="col-md-2"><u>Actions</u></label>
        </h5>
        <div class="m-1 row" ng-repeat="multiSkip in multipleSkips">
          <div class="col-md-5">{{multiSkip.option_identifier}}</div>
          <div class="col-md-5">{{multiSkip.skip_question_identifier}}</div>
          <div class="col-md-2">
            <div class="btn btn-danger" ng-click="deleteMultiSkip(multiSkip)">Delete</div>
          </div>
        </div>
      </div>
      <div ng-hide="showSkips">
        <div ng-show="instrumentQuestion.option_set_id && questionTypesWithSkipPatterns(instrumentQuestion.type)">
          <div class="row m-1">
            <label class="col-md-4"><u>Chosen Options</u></label>
            <label class="col-md-6"><u>Questions To Skip</u></label>
            <label class="col-md-2"><u>Actions</u></label>
          </div>
          <div class="row m-1">
            <div class="col-md-4">
              <select
              class="form-control"
              name="multiple-skip-pattern-option"
              ng-model="skipQuestion.option_identifier"
              ng-options="o.identifier as o.identifier for o in options"
              ng-required>
              <option value="">None</option>
              </select>
            </div>
            <div class="col-md-6">
              <ui-select multiple ng-model="skipQuestion.questionsToSkip"
              theme="bootstrap" close-on-select="false" title="Choose a question to skip">
                <ui-select-match placeholder="Select question...">
                  {{$item.number_in_instrument}} &lt;{{$item.identifier}}&gt;
                </ui-select-match>
                <ui-select-choices repeat="q in questionsAfter(instrumentQuestion) | propertyFilter:
                {number_in_instrument: $select.search, identifier: $select.search}">
                  <span ng-bind-html="q.number_in_instrument | highlight: $select.search"></span> :
                  <span ng-bind-html="q.identifier | highlight: $select.search"></span>
                </ui-select-choices>
              </ui-select>
            </div>
            <div class="col-md-2">
              <div class="btn btn-success" ng-click="saveMultiSkip(skipQuestion)">Save</div>
              <div class="btn btn-danger" ng-click="delete()">Delete</div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-1" ng-show="showSkips">
        <div class="btn btn-primary pull-right" ng-click="addMultiSkip()">Add Question To Skip</div>
      </div>
    </div>
  </div>
</div>
