<div ng-include="'instrument_questions/header.html'"></div>
<div class="card" ng-controller="NextQuestionsCtrl">
  <h4 class="text-center">Skip Patterns</h4>
  <div class="m-1">
    <li class="text-muted">If the next question to be displayed should be
      a different one from the one that immediately follows this question,
      select that specific question to jump to for each of the options below.
    </li>
    <li class="text-muted">Check the Complete Survey box if the selection of
      the option should lead to the end of the survey.
    </li>
    <li> <b>For questions with select multiple options, a skip results if
      only one option is selected, i.e. the option with the skip pattern. If
      multiple options are selected, the skips are ignored.</b>
    </li>
  </div>
  <div class="card-body">
    <div ng-show="(instrumentQuestion.option_set_id && questionTypesWithSkipPatterns(instrumentQuestion.type)) || instrumentQuestion.special_option_set_id">
      <div class="row m-1">
        <label class="col-md-3"><u>Chosen Option</u></label>
        <label class="col-md-2"><u>Entered Value</u></label>
        <label class="col-md-3"><u>Question To Skip To</u></label>
        <label class="col-md-2"><u>Complete Survey</u></label>
        <label class="col-md-2"><u>Actions</u></label>
      </div>
      <div class="row m-1" ng-repeat="nextQuestion in nextQuestions">
        <div class="col-md-3">
          <select
            class="form-control"
            name="skip-pattern-option"
            ng-disabled="nextQuestion.value"
            ng-model="nextQuestion.option_identifier"
            ng-options="o.identifier as o.text for o in options">
            <option value=""></option>
          </select>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" ng-model="nextQuestion.value"
          ng-disabled="nextQuestion.option_identifier">
        </div>
        <div class="col-md-3">
          <select
            class="form-control"
            name="skip-pattern-question"
            ng-model="nextQuestion.next_question_identifier"
            ng-options="q.identifier as q.identifier for q in questionsAfter(instrumentQuestion)">
            <option value=""></option>
          </select>
        </div>
        <div class="col-md-2">
          <input type="checkbox" ng-model="nextQuestion.complete_survey">
        </div>
        <div class="col-md-2">
          <div class="btn btn-success" ng-click="saveSkip(nextQuestion)">Save</div>
          <div class="btn btn-danger" ng-click="deleteSkip(nextQuestion)">Delete</div>
        </div>
      </div>
      <div class="m-1">
        <div class="btn btn-primary float-right" ng-click="addNextQuestion()">Add Skip Pattern</div>
      </div>
    </div>
  </div>
</div>
