<div ng-controller="ShowInstrumentQuestionCtrl">
    <h4 class="text-center"> Question Logic</h4>
    <h5 class="text-center">{{instrumentQuestion.identifier}}</h5>
    <div class="text-center">
      <a ui-sref="followUps({project_id: project_id, instrument_id: instrument_id, id: id})"
      class="btn btn-primary m-1">Follow Ups</a>
      <a ui-sref="singleSelectSkipPatterns({project_id: project_id, instrument_id: instrument_id, id: id})"
      class="btn btn-primary m-1">Select One Skip To</a>
      <a ui-sref="multipleSkips({project_id: project_id, instrument_id: instrument_id, id: id})"
      class="btn btn-primary m-1">Select One Multiple Skips</a>
      <a ui-sref="conditionSkips({project_id: project_id, instrument_id: instrument_id, id: id})"
      class="btn btn-primary m-1">Condition Skips</a>
    </div>
</div>
