<h4 class="text-center"> Question Logic</h4>
<h5 class="text-center">{{instrumentQuestion.identifier}}</h5>
<div class="card" ng-controller="ShowInstrumentQuestionCtrl">
  <div class="card-body card-padding">
    <div ng-hide="instrumentQuestion.number_in_instrument == 1 || followUpQuestions(instrumentQuestion).length == 0">
      <div class="text-center"><strong>Follow-up Questions</strong></div>
      <li class="text-muted">
        A follow up question is a question that asks for more information about a previous answer.
        You may re-use the response to the previous question in the creation of the new question.
      </li>
      <li class="text-muted">
        Specify the question(s) to follow up below, and insert a [followup] in the location to insert the previous response(s).
      </li>
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <label class="col-md-2">Position</label>
            <label class="col-md-8">Follow-up Question</label>
            <label class="col-md-2">Actions</label>
          </div>
        </div>
        <div class="col-md-4">
          <label>Question Text</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="row" ng-repeat="followup in followingUpQuestions">
            <div class="col-md-2">
              <input class="form-control" type="text" ng-model="followup.position" required>
            </div>
            <div class="col-md-8">
              <select
                class="form-control"
                id="follow-up"
                ng-model="followup.following_up_question_identifier"
                ng-options="q.identifier as q.identifier for q in followUpQuestions(instrumentQuestion)">
                <option value=""></option>
              </select>
            </div>
            <div class="col-md-2">
              <div class="btn btn-danger" ng-click="deleteFollowUp(followup)">Delete</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <textarea class="form-control" type="text" ng-model="instrumentQuestion.text"/>
        </div>
      </div>
      <div class="row m-5">
        <div class="btn btn-primary pull-right m-5" ng-click="addFollowUp()">Add Follow Up</div>
        <div class="btn btn-success pull-right m-5" ng-click="saveFollowUps()">Save</div>
      </div>
    </div>
    <div ng-show="(instrumentQuestion.option_set_id && questionTypesWithSkipPatterns(instrumentQuestion.type)) || instrumentQuestion.special_option_set_id">
      <div class="text-center"><strong>Skip Patterns</strong></div>
      <li class="text-muted">If the next question to be displayed should be
        a different one from the one that immediately follows this question,
        select that specific question to jump to for each of the options below.
      </li>
      <li class="text-muted">Check the Complete Survey box if the selection of
        the option should lead to the end of the survey.
      </li>
      <div class="row">
        <label class="col-md-4"><u>Chosen Option</u></label>
        <label class="col-md-4"><u>Question To Skip To</u></label>
        <label class="col-md-2"><u>Complete Survey</u></label>
        <label class="col-md-2"><u>Actions</u></label>
      </div>
      <div class="row" ng-repeat="nextQuestion in nextQuestions">
        <div class="col-md-4">
          <select
          class="form-control"
          name="skip-pattern-option"
          ng-model="nextQuestion.option_identifier"
          ng-options="o.identifier as o.text for o in options">
          <option value=""></option>
          </select>
        </div>
        <div class="col-md-4">
          <select
            class="form-control"
            name="skip-pattern-question"
            ng-model="nextQuestion.next_question_identifier"
            ng-options="q.identifier as q.identifier for q in questionsAfter(instrumentQuestion)">
            <option value=""></option>
          </select>
        </div>
        <div class="col-md-2">
          <input type="checkbox" ng-model="nextQuestion.complete_survey">
        </div>
        <div class="col-md-2">
          <div class="btn btn-success" ng-click="saveSkip(nextQuestion)">Save</div>
          <div class="btn btn-danger" ng-click="deleteSkip(nextQuestion)">Delete</div>
        </div>
      </div>
      <div class="row m-5">
        <div class="btn btn-primary pull-right" ng-click="addNextQuestion()">Add Skip Pattern</div>
      </div>
    </div>

    <div class="row" ng-show="instrumentQuestion.option_set_id && questionTypesWithMultipleSkips(instrumentQuestion.type)">
      <div class="text-center"><strong>Multiple Skip Patterns</strong></div>
      <li class="text-muted">
        If several non-consecutive questions following this question should be skipped based
        on the option selected, enter those questions below for each option that causes the skips.
      </li>
      <div class="row">
        <label class="col-md-5"><u>Chosen Options</u></label>
        <label class="col-md-5"><u>Questions To Skip</u></label>
        <label class="col-md-2"><u>Actions</u></label>
      </div>
      <div class="row" ng-repeat="multiSkip in multipleSkips">
        <div class="col-md-5">
          <select
            class="form-control"
            name="multiple-skip-pattern-option"
            ng-model="multiSkip.option_identifier"
            ng-options="o.identifier as o.identifier for o in options"
            ng-required>
            <option value="">None</option>
          </select>
        </div>
        <div class="col-md-5">
          <select
            class="form-control"
            name="multiple-skip-pattern-question"
            ng-model="multiSkip.skip_question_identifier"
            ng-options="q.identifier as q.identifier for q in questionsAfter(instrumentQuestion)"
            ng-required>
            <option value="">None</option>
          </select>
        </div>
        <div class="col-md-2">
          <div class="btn btn-success" ng-click="saveMultiSkip(multiSkip)">Save</div>
          <div class="btn btn-danger" ng-click="deleteMultiSkip(multiSkip)">Delete</div>
        </div>
      </div>
      <div class="row m-5">
        <div class="btn btn-primary pull-right" ng-click="addMultiSkip()">Add Question To Skip</div>
      </div>
    </div>

</div>
</div>
