<table>
  <tr>
    <th>Response</th>
    <th>Count</th>
    <th>%</th>
  </tr>
  <% responses.each do | response, count | %>
    <tr>
      <td><%= response %></td>
      <td><%= count %></td>
      <td><%= (count / total.to_f * 100.0).round(2) %></td>
    </tr>
  <% end %>
</table>
