<div ng-controller="ShowInstrumentTranslationsCtrl">
  <div ng-include="'instruments/show.html'"></div>

  <div class="card">
    <h4 class="text-center">{{instrumentTranslation.title}}</h4>
    <div class="m-1">
      <a ui-sref="questionTranslations({language: instrumentTranslation.language,
        instrument_id: instrument.id})" class="btn btn-primary">Edit Question Translations</a>
      <a class="btn btn-primary" ui-sref="questionBackTranslations({language: instrumentTranslation.language,
        instrument_id: instrument.id})">Edit Question Back Translations</a>
      <a ui-sref="optionTranslations({language: instrumentTranslation.language,
        instrument_id: instrument.id})" class="btn btn-primary">Edit Option Translations</a>
      <a class="btn btn-primary" ui-sref="optionBackTranslations({language: instrumentTranslation.language,
        instrument_id: instrument.id})">Edit Option Back Translations</a>
    </div>
    <table class="table table-hover">
      <thead>
        <tr class="m-1 row">
          <th class="col-md-4">Question Text</th>
          <th class="col-md-4 text-center">Translation Text</th>
          <th class="col-md-4 text-center">Back Translated Text/Approved</th>
        </tr>
      </thead>
      <tbody>
        <tr class="m-1 row" ng-repeat="instrumentQuestion in instrumentQuestions">
          <td class="col-md-4">
            <div ng-bind-html="instrumentQuestion.text | ToTrustedHtml"/>
            <div class="m-1" ng-show="instrumentQuestion.option_set_id" ng-repeat="option in instrumentQuestion.options">
              <span ng-bind-html="option.text | ToTrustedHtml"/>
            </div>
          </td>
          <td class="col-md-4">
            <div ng-repeat="questionTranslation in questionTranslationFor(instrumentQuestion.question_translations)">
              <span ng-bind-html="questionTranslation.text | ToTrustedHtml"/>
              <a ui-sref="questionTranslations({question_set_id: instrumentQuestion.question_set_id,
              question_id: instrumentQuestion.question_id, language: questionTranslation.language})">Edit</a>
            </div>
            <div ng-repeat="optionTranslation in optionTranslationFor(instrumentQuestion.option_translations)">
              <span ng-class="selectedTranslation(optionTranslation, instrumentQuestion.option_set_id)" ng-bind-html="optionTranslation.text | ToTrustedHtml"/>
            </div>
            <a ng-show="instrumentQuestion.option_set_id"
            ui-sref="optionTranslations({option_set_id: instrumentQuestion.option_set_id, language: language})">Edit</a>
          </td>

          <td class="col-md-4">
            <div ng-repeat="backTranslation in questionBackTranslationFor(instrumentQuestion.back_translations)">
              <span  ng-class="backTranslation.approved ? 'bg-success' : 'bg-danger'"
              ng-bind-html="backTranslation.text | ToTrustedHtml"/>
              <a ui-sref="questionBackTranslations({question_translation_id: backTranslation.backtranslatable_id,
              language: backTranslation.language})">Edit</a>
            </div>
            <div ng-repeat="backTranslation in optionBackTranslationFor(instrumentQuestion.option_back_translations)">
              <span  ng-class="backTranslation.approved ? 'bg-success' : 'bg-danger'"
              ng-bind-html="backTranslation.text | ToTrustedHtml"/>
            </div>
            <a ng-show="instrumentQuestion.option_set_id"
            ui-sref="optionBackTranslations({option_set_id: instrumentQuestion.option_set_id, language: language})">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
