<div ng-controller="DisplaysCtrl">
  <div ng-include="'instruments/show.html'"></div>
  <h4 class="text-center">Instrument Displays</h4>
  <div class="card">
    <div class="card-body">
      <a ui-sref="displayTranslations({project_id: project_id, instrument_id: instrument_id})"
      class="btn btn-primary m-1">Display Translations</a>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Position</th>
            <th>Type</th>
            <th>Title</th>
            <th>Section</th>
            <th>Question Range</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody ui-sortable="sortableDisplays" ng-model="displays">
          <tr ng-repeat="display in displays | orderBy: '1 * position'">
            <!-- Convert position used in filter to numeric -->
            <td>
              <div class="btn btn-info moveDisplay" title="Drag up/down to re-number the displays.">
                <span class="oi oi-elevator"></span>
                <span>{{display.position}}</span>
              </div>
            </td>
            <td>{{display.mode}}</td>
            <td>
              <a ui-sref="display({project_id: project_id, instrument_id: instrument_id, id: display.id})">
                {{display.title}}
              </a>
            </td>
            <td>{{display.section_title}}</td>
            <td>{{display.range}}</td>
            <td>
              <button class="btn btn-danger oi oi-trash" ng-click="delete(display)"/>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="m-1">
        <a class="btn btn-primary oi oi-plus float-right"
        ui-sref="newDisplay({project_id: project_id, instrument_id: instrument_id})"/>
      </div>
    </div>
  </div>
</div>
