<div ng-controller="NewDisplayCtrl">
  <div ng-include="'instruments/show.html'"></div>
  <h4 class="text-center">Instrument Displays</h4>

  <div class="card">
    <div class="card-body card-padding">
      <div class="row">
        <label class="col-md-2">Title</label>
        <div class="col-md-10"><input class="form-control" type="text" ng-model="display.title"/></div>
      </div>
      <div class="row m-t-5">
        <label class="col-md-2">Mode</label>
        <div class="col-md-10">
          <select
            class="form-control"
            allow-single-deselect="true"
            name="display-mode"
            ng-model="display.mode"
            ng-options="type for type in settings.display_types">
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="row m-t-5">
        <label class="col-md-2">Position</label>
        <div class="col-md-10"><input class="form-control" type="number" ng-model="display.position"/></div>
      </div>
      <div class="row m-t-5">
        <div class="btn btn-sm btn-success pull-right" ng-click="saveDisplay()">Save</div>
      </div>
    </div>
  </div>
</div>