<div class="tab-instrument tab-pane" role="tabpanel">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Instrument Title</th>
              <th>Survey Count</th>
            </tr>
          </thead>
          <tbody>
            <% @instruments.each do |instrument| %>
            <tr>
              <td><%= link_to instrument.title, instrument_project_surveys_path(current_project, instrument.id) %></td>
              <td><%= instrument.surveys.count %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>