<section>
  <div class="block-header text-center text-capitalize">
    <h2>
      <i class="md-cloud-download c-indigo">
        Survey Results
      </i>
    </h2>
  </div>
  <%= render 'index' %>
</section>