<section>
  <div class="block-header text-center text-capitalize">
    <h2>
      <i class="md-cloud-download c-indigo">
        Survey Results
      </i>
    </h2>
  </div>

  <div class="card">
    <div role="tabpanel">
      <ul class="tab-nav" role="tablist">
        <li class="active waves-effect">
          <a href=".tab-default" role="tab" data-toggle="tab">All Surveys</a>
        </li>
        <li class="waves-effect">
          <a href=".tab-instrument" role="tab" data-toggle="tab">Surveys By Instrument</a>
        </li>
        <li class="waves-effect">
          <a href=".tab-identifier" role="tab" data-toggle="tab">Surveys By Identifier</a>
        </li>
      </ul>
      <div class="tab-content">
        <%= render 'surveys_default' %>
        <%= render 'surveys_instrument' %>
        <%= render 'surveys_identifier' %>
      </div>
    </div>
  </div>

</section>