<div ng-controller="QuestionsCtrl">
  <h4 class="text-center"><strong>Questions In Set</strong></h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Identifier</th>
          <th>Type</th>
          <th>Text</th>
        </tr>
      </thead>
      <tbody ng-repeat="question in questions">
        <tr>
          <td>
            <a href="/question_sets/{{questionSet.id}}/questions/{{question.id}}">
              <strong>{{question.question_identifier}}</strong>
            </a>
          </td>
          <td>{{question.question_type}}</td>
          <td>{{question.text}}</td>
        </tr>
      </tbody>
    </table>
  <div class="m-t-5 btn btn-primary" ng-click="newQuestion()">Add Question</div>
</div>
