// Place all the styles related to the instruments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body #content {
  padding: 10px 0;
}

.block-header {
  margin-bottom: 5px;
}

ol.questions {
  list-style: decimal;
  padding-left: 40px;
}

ol.options {
  list-style: square;
  padding-left: 40px;
}

div.follow-up-question {
  display: none;
}

div.follow-up-explanation {
  display: none;
}

.ta-editor {
  min-height: 200px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}

.chosen-container {
  width: 100% !important;
}

.questions-modal-box {
  max-height: 200px;
  overflow: auto;
}

.option-label {
  white-space: nowrap;
  overflow: hidden;
}

.pagination > li > a, .pagination > li > span {
  width: 50px;
  height: 50px;
  line-height: 48px;
}

.ta-editor.form-control.translation-height, .ta-scroll-window.form-control.translation-height {
    min-height: 70px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.form-control.translation-height > .ta-bind {
    height: auto;
    min-height: 70px;
    padding: 6px 12px;
}
