.question .info {
  float: left;
  text-align: left;
  margin-right: 5px;
}

.question .info .number {
  font-weight: bold;
}

.question .info .identifier {
  font-size: 12pt !important;
  padding-top: 5px;
}

.skip-instructions {
  b,
  div {
    font-size: 10pt !important;
    line-height: 1.2 !important;
  }
}

.question {
  margin-bottom: 10px;
}

.instrument-title {
  font-weight: bold;
  font-size: 20pt !important;
  text-align: center;
}

.instrument-sub-title {
  text-align: center;
}

.display-title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.response-content {
  margin-left: 30px;
}

.page-template {
  margin: 50px auto auto;
  display: none;

  * {
    font-size: 16pt !important;
    line-height: 1.3 !important;
  }
}

.page {
  width: 960px;
  position: relative;
  page-break-after: always;
}

.page .content .column {
  text-align: justify;
  padding: 10px;
}

.page .content .column blockquote {
  border-left: 2px solid #999999;
  background: #DEDEDE;
  padding: 10px;
  margin: 4px 20px;
  clear: both;
}

.page .content .column img {
  float: left;
  margin: 10px;
}

.page .content .column p {
  padding: 0 10px;
  margin: 10px 0;
}

.page .content .column h1 {
  padding: 0 10px;
}

.enclosure {
  border: 1px dashed black;
}