<div class="table-responsive">
  <table class="table table-hover fixed-wide">
    <thead>
      <tr>
        <th>Grid</th>
        <th><%= @instrument.language %></th>
        <th><%= @instrument_translation.language %></th>
      </tr>
    </thead>
    <tbody ng-repeat="gridTranslation in gridTranslations">
      <tr>
        <td>
          Name for grid id:
          {{gridTranslation.grid_id}}
        </td>
        <td>
          {{gridTranslation.grid_name}}
        </td>
        <td>
          <textarea class="form-control" name="grid-name" ng-model="gridTranslation.name"></textarea>
        </td>
      </tr>
      <tr>
        <td>
          Instructions for grid id:
          {{gridTranslation.grid_id}}
        </td>
        <td ng-bind-html="gridTranslation.grid_instructions"></td>
        <td>
          <textarea class="form-control" name="grid-instructions" ng-model="gridTranslation.instructions"></textarea>
        </td>
      </tr>
      <tr ng-repeat="gridLabelTranslation in gridLabelTranslations | filter: {grid_label_grid_id: gridTranslation.grid_id}">
        <td>
          Label for GridLabel id:
          {{gridLabelTranslation.grid_label_id}}
        </td>
        <td>
          {{gridLabelTranslation.grid_label_label}}
        </td>
        <td>
          <textarea class="form-control" name="grid-label-label" ng-model="gridLabelTranslation.label"></textarea>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="pull-right m-r-10 btn btn-success" ng-click="saveGridTranslations()">
    Save
  </div>
</div>