<div class="text-center text-capitalize">
  <h4 class="block-header c-indigo">
    <%= @instrument.title ? @instrument.title : 'Instrument' %>
  </h4>
  <span class="pull-left c-teal m-l-25">
    <strong><%= subtitle %></strong>
  </span>
  <span class="c-teal">
    <i class="md-bookmark"></i>
    <strong>Current Version:
      <%= @instrument.current_version_number %></strong>
  </span>
  <span class="pull-right m-r-25">
    <% if @instrument.published %>
    <span class="c-green">
      <i class="md-visibility"></i>
      <strong>Published</strong>
    </span>
  <% else %>
    <span class="c-red">
      <i class="md-visibility-off"></i>
      <strong>Not Published</strong>
    </span>
    <% end %>
  </span>
</div>