<div class="tab-general tab-pane active" role="tabpanel">
  <form class="form-horizontal label-left" role="form" name="question_form" id="question_form" novalidate>
    <div class="form-group">
      <label for="question-identifier" class="col-sm-2 control-label">Question Identifier</label>

      <div class="col-sm-10">
        <div class="fg-line">
          <input type="text" class="form-control" name="question-identifier" ng-model="question.question_identifier" required>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="question-type" class="col-sm-2 control-label">Question Type</label>

      <div class="col-sm-10">
        <select
        chosen
        class="select2-container select-block-level"
        data-placeholder="Select a question type..."
        no-results-text="'This does not match any valid question type'"
        name="question-type"
        id="question-type"
        ng-model="question.question_type"
        ng-options="type for type in questionTypes()"
        required
        >
          <option value=""></option>
        </select>
      </div>
    </div>

    <% if @instrument.show_instructions %>
        <div class="form-group">
          <label for="instructions" class="col-sm-2 control-label">Instructions</label>

          <div class="col-sm-10">
            <wysiwyg ng-model="question.instructions"></wysiwyg>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <label for="content" class="col-sm-2 control-label">Content</label>

      <div class="col-sm-10">
        <wysiwyg textarea-menu="questionToolMenu" textarea-class="form-control" ng-model="question.text"></wysiwyg>
      </div>
    </div>

    <div ng-show="questionTypesWithOptions(question.question_type)">
      <div>
        <fieldset class="m-15">
          <legend class="text-center">
            <strong>Options</strong>
            <button type="submit" ng-click="addOption()" class="btn btn-xs btn-primary pull-right">
              <i class="md-add">Add Option</i>
            </button>
          </legend>
          <div class="controls form-group">
            <div ng-repeat="option in defaultOptions">
              <div class="input-group m-10">
                <input type="text" class="fg-line form-control" ng-model="option.text" autofocus="autofocus">

                <div class="input-group-btn m-10">
                  <button ng-click="removeOption(option)" class="btn btn-danger">
                    <i class="md-delete"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <%= render 'questions_form_images' %>

  </form>
</div>