<div class="tab-advanced tab-pane" role="tabpanel">
  <fieldset ng-show="criticalTypeQuestions(question.question_type)" class="m-10">
    <legend class="text-capitalize text-center">
      <strong>Critical Question</strong>
    </legend>
    <p class="text-muted">A critical question is a question that requires the administrator of the survey to notify someone in a position of authority if a particular response is given to a question. An example would be if a question asks if a
      participant is feeling suicidal and the participant answers yes.
    </p>

    <div class="form-group">
      <label for="follow-up" class="col-sm-3 control-label">Critical Question</label>
      <div class="col-sm-9">
        <input type="checkbox" ng-model="question.critical" name="question-critical">
      </div>
    </div>
    <div class="clearfix"></div>
    <div ng-show="question.critical == true" ng-repeat="option in options">
      <label for="option-critical">
        {{option.text}}
      </label>
      <input type="checkbox" name="option-critical" class="m-l-10" ng-model="option.critical">
    </div>
  </fieldset>
  <fieldset class="m-10">
    <legend class="text-center text-capitalize">
      <strong>Regular Expression Match</strong>
    </legend>
    <p class="text-muted">A regular expression is a standard for describing a text pattern. If a regular expression is provided for this question, then the response must match this regular expression for it to be considered valid.</p>

    <div class="form-group">
      <label for="question-regex" class="col-sm-3 control-label c-green">Regular Expression</label>

      <div class="col-sm-9">
        <input type="text" name="question-regex" class="form-control" ng-model="question.reg_ex_validation">
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
      <label for="question-regex" class="col-sm-3 control-label c-red">RegEx Failure Message</label>

      <div class="col-sm-9">
        <input type="text" name="question-regex" class="form-control" ng-model="question.reg_ex_validation_message">
      </div>
    </div>
  </fieldset>

  <div ng-controller="QuestionRandomizedFactorsCtrl" ng-init="init(<%= @project.id %>, <%= @instrument.id %>)">
    <fieldset class="m-15">
      <legend class="text-center">
        <strong>Randomized Factors</strong>
      </legend>
      <p class="text-muted">A randomized factor has several options that are shown as part of the question text with equal probability. Insert [RANDOMIZED_FACTOR] at the location in the question text you want the randomly selected option to appear in.</p>
      <div class="row">
        <button type="submit" ng-click="addRandomizedFactor()" class="btn btn-primary pull-right">
          <i class="md-add">Randomized Factor</i>
        </button>
      </div>
      <div class="controls form-group">
        <div ng-repeat="randomizedQuestionFactor in randomizedQuestionFactors | orderBy: 'position'">
          <div class="input-group m-10">
            <div class="col-md-4">
              <input type="text" class="fg-line form-control" ng-model="randomizedQuestionFactor.position" autofocus="autofocus">
            </div>
            <div class="col-md-7 p-10">
              <div ng-repeat="randomizedFactor in instrument.randomized_factors">
                <input type="radio" name="{{randomizedQuestionFactor.position}}_{{randomizedFactor.id}}" ng-model="randomizedQuestionFactor.randomized_factor_id" ng-value="randomizedFactor.id" ng-change="updateRandomizedFactorId()"/>
                {{randomizedFactor.title}}
              </div>
            </div>
            <div class="col-md-1">
              <div class="input-group-btn m-10">
                <button ng-click="removeFactor(randomizedQuestionFactor)" class="btn btn-danger">
                  <i class="md-delete"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

</div>