<div class="block-header text-center text-capitalize">
  <h2><i class="md-store c-indigo"> Stats </i></h2>
</div>

<div class="card">
  <div class="card-header">
    <%= link_to crunch_project_metric_stats_path(current_project, @metric), class: 'btn btn-primary pull-right' do %>
        <i class="md-add"> Crunch </i>
    <% end %>
  </div>
  <div class="card-body card-padding">
    <table class="table table-responsive table-striped">
      <thead>
      <tr>
        <th>Key Value</th>
        <th>Count</th>
        <th>Percent</th>
      </tr>
      </thead>

      <tbody>
      <% @stats.each do |stat| %>
          <tr>
            <td><%= stat.label %></td>
            <td><%= stat.count %></td>
            <td><%= stat.percent %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>