<div ng-controller="InstrumentConfigsCtrl">
  <div ng-include="'instruments/show.html'"></div>

  <div class="card">
    <h4 class="text-center">Skip Patterns</h4>
    <div class="m-1">
      <div class="btn btn-primary pull-right" ng-click="importSkipPatterns()">
        Import Skip Patterns</div>
    </div>
    <div class="card-body card-padding">
      <div class="row">
        <label class="col-md-3">Question Number</label>
        <label class="col-md-3">Question Identifier</label>
        <label class="col-md-3">Selected Option Identifier</label>
        <label class="col-md-3">Question Identifier To Skip To</label>
      </div>
      <div class="row" ng-repeat="nextQuestion in nextQuestions">
        <div class="col-md-3">{{nextQuestion.question_number}}</div>
        <div class="col-md-3">{{nextQuestion.question_identifier}}</div>
        <div class="col-md-3">{{nextQuestion.option_identifier}}</div>
        <div class="col-md-3">{{nextQuestion.next_question_identifier}}</div>
      </div>
    </div>
  </div>

  <div class="m-1"></div>
  <div class="card">
    <h4 class="text-center">Standardize Tables</h4>
    <div class="row m-1">
      <label class="col-md-6">Breaks up large tables into smaller ones with 5 or less questions each</label>
      <div class="col-md-6">
        <div class="btn btn-success" ng-click="tabulate()">Standardize Tables</div>
      </div>
    </div>
  </div>

</div>
