<div ng-controller="PDFCtrl">
  <div ng-include="'instruments/show.html'"></div>
  <div class="card">
    <div class="card-body">
      <h4 class="text-center">PDF Downloads</h4>
      <div class="row">
        <span ng-repeat="language in languages">
          <a class="col-sm" href="/projects/{{project_id}}/instruments/{{instrument_id}}?language={{language[1]}}&format=pdf"
          target="_blank"> {{language[0]}}</a>
        </span>
      </div>
    </div>
  </div>
</div>
