<div ng-controller="ShowInstrumentCtrl">
  <h4 class="text-center">{{instrument.title}}</h4>
  <div class="card">
    <div class="card-body card-padding">
      <a ui-sref="displays({project_id: instrument.project_id, instrument_id: instrument.id})"
         class="btn btn-primary m-1">Instrument Displays</a>
      <a ui-sref="instrumentTranslations({project_id: instrument.project_id, instrument_id: instrument.id})"
         class="btn btn-primary m-1">Instrument Translations</a>
      <a ui-sref="instrumentRules({project_id: instrument.project_id, instrument_id: instrument.id})"
         class="btn btn-primary m-1">Instrument Rules</a>
      <a ui-sref="instrumentQuestionsReorder({project_id: instrument.project_id, id: instrument.id})"
         class="btn btn-primary m-1">Reorder Instrument Questions</a>
      <a ui-sref="copyInstrument({project_id: instrument.project_id, id: instrument.id})"
         class="btn btn-primary m-1">Copy Instrument</a>
      <a ui-sref="instrumentSkipPatterns({project_id: instrument.project_id, id: instrument.id})"
         class="btn btn-primary m-1">Instrument Skip Patterns</a>
    </div>
  </div>
</div>
