<div class="card" ng-controller="ShowInstrumentCtrl">
  <div class="card-header">
    <a ui-sref="instrumentQuestions({project_id: project_id, instrument_id: id})"
      class="btn btn-primary">Questions</a>
    <a ui-sref="instrumentTranslations({project_id: project_id, instrument_id: id})"
      class="btn btn-primary">Translations</a>
  </div>
</div>
