<footer id="footer">
  <p>
    An open source project supported by <%= link_to 'CHPIR', 'http://chpir.org/' %>
    and <%= link_to 'ADAPTLAB', 'http://adaptlab.org/' %>. Github source code repo:
    <%= link_to 'Survey', 'https://github.com/DukeMobileTech/rails_survey' %>
  </p>
</footer>