<footer id="footer">
  <p>
    This application is developed with the support of
    <%= link_to 'CHPIR', 'http://chpir.org/' %>
    and
    <%= link_to 'ADAPTLAB', 'http://adaptlab.org/' %>.
  </p>
</footer>